version: "2.1"
orbs:
  node: circleci/node@5.0.2
jobs:
  test:
    executor: node/default
    working_directory: /home/circleci/project/client
    steps:
      - checkout
          path: "/home/circleci/project"
      - node/install-packages:
          # cache-path: ~/project/client/node_modules
          # app-dir: "/home/circleci/project/client"
          override-ci-command: npm install
      - run:
          # app-dir: "/home/circleci/project/client"
          command: |
            npm test
          name: Test
workflows:
  test_my_app:
    jobs:
      - test
