version: "2.1"
orbs:
  node: circleci/node@5.0.2
jobs:
  test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          # cache-path: ~/project/client/node_modules
          app-dir: "/home/circleci/project/client"
          override-ci-command: npm install
      - run: npm test
workflows:
  test_my_app:
    jobs:
      - test
