version: "2.1"
orbs:
  node: circleci/node@5.0.2
  cypress: cypress-io/cypress@2.2.0
jobs:
  test:
    executor: node/default
    # working_directory: ~/project/client
    steps:
      - checkout
      - node/install-packages:
          cache-path: ~/project/client/node_modules
          app-dir: ~/project/client
          override-ci-command: npm install
      - run:
          path: ~/project/client
          command: npm test
          name: Test
      - run:
          path: ~/project/client
          command: npm test -- --coverage
          name: Coverage
      - run:
          path: ~/project/client
          command: |
            npm run build
          name: Build

workflows:
  test_my_app:
    jobs:
      - test
  build:
    jobs:
      - cypress/run:
          working_directory: ~/project/client
          cache-key: 'cache-{{ arch }}-{{ .Branch }}-{{ checksum "client/package.json" }}'
          component: true
