version: 2.1
orbs:
  node: circleci/node@5.0.2
  codecov: codecov/codecov@3.2.3
jobs:
  build-and-test:
    docker:
      - image: "cimg/base:stable"
    resource_class: small
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - node/install:
          node-version: "12.22"
      - node/install-packages
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          command: npm run test -- --coverage

workflows:
  build-and-test:
    jobs:
      - build-and-test
  upload-to-codecov:
    jobs:
      - checkout
      - codecov/upload
