version: "2.1"
orbs:
  node: circleci/node@5.0.2
jobs:
  test:
    executor: node/default
    # working_directory: ~/project/client
    steps:
      - checkout

      - node/install-packages:
          # cache-path: ~/project/client/node_modules
          app-dir: ~/project/client
          override-ci-command: npm install
      - run:
          path: ~/project/client
          # app-dir: "/home/circleci/project/client"
          command: |
            npm test
          name: Test
workflows:
  test_my_app:
    jobs:
      - test
