version: 2.1
jobs:
  test:
    docker:
      - image: cimg/node:16.13.2
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: npm install
      - run:
          name: Run Test Cases
          command: npm run test
      - run:
          name: Run Test Coverage
          command: npm run test -- --coverage
  build:
    docker:
      - image: cimg/node:16.13.2
    steps:
      - checkout
      - run:
          name: Update NPM
          command: "sudo npm install -g npm"
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run:
          name: Run Test Cases
          command: npm test
      - run:
          name: Run Test Coverage
          command: npm test -- --coverage
      - run:
          name: Build React App
          command: npm run build
      - save_cache:
          key: app-build-cache-{{ .Branch }}
          paths:
            - ./build
workflows:
  version: 2
  build-test:
    jobs:
      - build
      - test
        # filters:
        #   branches:
        #     only:
        #       - main
